body {
    font-family: Monospace;
}

table {
    border-collapse: separate;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    font-size: 18px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f8f3f8;
}

tr:nth-child(odd) {
    background-color: #f3ebf3;
}

ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol.v {
    list-style-type: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.table2 {
    border-collapse: separate;
    border-radius: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    border-radius: 15px;
    padding: 15px;
    font-size: 17px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    tab-size: 4;
    background-color: #ebdfeb;
}

.glossary {
    border-radius: 15px;
    padding: 15px;
    font-size: 17px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    tab-size: 4;
    background-color: #ebdfeb;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.tab2 {
    display: inline-block;
    margin-left: 15px;
}

.useCase {
    border-radius: 15px;
    padding: 15px;
    font-size: 17px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    tab-size: 4;
    background-color: #ebdfeb;
}